source "$HOME/.config/aliases/config"
source "$HOME/.config/exports/config"

{{ if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}

eval "$(starship init zsh)"
eval "$(atuin init zsh)"
