#!/bin/zsh

{{ if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ if .codespaces -}}
{{ range .packages.codespaces -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ if .include.games -}}
{{ range .packages.games -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
EOF
