export PATH="/opt/homebrew/bin:$PATH"
export STARSHIP_CONFIG="$HOME/.config/starship/starship.toml"
export CARGO_HOME="$HOME/.config/cargo"
export NPM_CONFIG_USERCONFIG="$HOME/.config/npm/npmrc"
export LESSHISTFILE=/dev/null
export HISTFILE=/dev/null
export GOPATH=$HOME/.config/go
