alias gst="git status"
alias gp="git push"
alias gpf="git push --force" 
alias gcm="git commit --message"
alias gcam="git commit --all --message"
alias gcasm="git commit --all --signoff --message"

alias vi=nvim
alias vim=nvim

alias l="eza -al --icons"
alias ls="eza -al --icons"
